networks:
  epoch-net:

services:
  server:
    build:
      context: .
      dockerfile: server.dockerfile
    image: epoch-server
    ports:
      - 50051:50051
    volumes:
      - ./certs:/app/certs
      - badger_data:/app/badger
    networks:
      - epoch-net

  worker:
    build:
      context: .
      dockerfile: worker.dockerfile
    image: epoch-worker
    user: root
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./certs:/app/certs
    command:
      ["sh", "-c", "./worker --target server:50051 --worker-id $$HOSTNAME"]
    networks:
      - epoch-net
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock

volumes:
  badger_data:
